    <div class="container">
        <h1>Game of Thrones</h1>
        
        <div class="card">
            <div class="card-body">
              <p>"Game of Thrones" é uma série de televisão baseada na série de livros "A Song of Ice and Fire" escrita por George R.R. Martin. A série se passa em um mundo fictício onde várias famílias nobres lutam pelo controle do Trono de Ferro e pelo domínio dos Sete Reinos de Westeros.</p>  
            
          
        
        <p>
            A série foi transmitida pela HBO e teve oito temporadas, conquistando fãs em todo o mundo. Ela trouxe à vida personagens memoráveis como Jon Snow, Daenerys Targaryen, Tyrion Lannister e muitos outros.
        </p>
        
        <p>
            "Game of Thrones" também é conhecida por suas reviravoltas surpreendentes e cenas de ação espetaculares. Se você gosta de fantasia épica, política e drama, esta série é uma escolha excelente.
        </p>

        <h2>Personagens Importantes</h2>
        <ul>
            <li>Jon Snow</li>
            <li>Daenerys Targaryen</li>
            <li>Tyrion Lannister</li>
            <li>Arya Stark</li>
            <li>Cersei Lannister</li>
        </ul>

        <h2>Principais Casas de Westeros</h2>
        <ul>
            <li>Casa Stark</li>
            <li>Casa Lannister</li>
            <li>Casa Targaryen</li>
            <li>Casa Baratheon</li>
            <li>Casa Greyjoy</li>
        </ul>
    </div>
<!-- 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html> -->
