.card-body{
    background-color:gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div{
color:   white
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}