<h1>Informações dos devs</h1>

<br>
<div class="teste">
<div class="card" style="width: 18rem;">
    <img src="../../assets/marcos.jpg" class="card-img-top" alt="BOlsonasdiowehfiuewfgheurslafearjg">
    <div class="card-body">
        <h5 class="card-title">Marcos Vinicios</h5>
        <p class="card-text">Contato</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">GitHub: Vinicius Medeiros</li>
        <li class="list-group-item">Email: marcosvinicius0753@gmail.com</li>

    </ul>
</div>


<div class="card" style="width: 18rem;">
    <img src="../../assets/lucas.jpg" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">Lucas Silva</h5>
        <p class="card-text">Contato</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">GitHub: Lucas Silva</li>
        <li class="list-group-item">Email: lucasilvalima05@gmail.com</li>

    </ul>
</div>

<div class="card" style="width: 18rem;">
    <img src="../../assets/gabirel.jpg" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">Gabriel Miranda</h5>
        <p class="card-text">Contato</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">GitHub: Geladeiratuzudo</li>
        <li class="list-group-item">Email: mirandacorreagabriel@gmail.com</li>

    </ul>

</div>
</div>