<h1>Informações dos devs</h1>

<br>

<!-- <div class="container" style="width: 18rem;">
    <img src="../../assets/marcos.jpg" class="card-img-top" alt="BOlsonasdiowehfiuewfgheurslafearjg">
    <div class="list-group-item">
        <h5 class="list-group-item">Marcos Vinicios</h5>
        <p class="card-text">Contato</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">GitHub: Vinicius Medeiros</li>
        <li class="list-group-item">Email: marcosvinicius0753@gmail.com</li>

    </ul>
</div>


<div class="container" style="width: 18rem;">
    <img src="../../assets/lucas.jpg" class="card-img-top" alt="">
    <div class="container">
        <h5 class="card-title">Lucas Silva</h5>
        <p class="card-text">Contato</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">GitHub: Lucas Silva</li>
        <li class="list-group-item">Email: lucasilvalima05@gmail.com</li>

    </ul>
</div>

<div class="container" style="width: 18rem;">
    <img src="../../assets/gabirel.jpg" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">Gabriel Miranda</h5>
        <p class="card-text">Contato</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">GitHub: Geladeiratuzudo</li>
        <li class="list-group-item">Email: mirandacorreagabriel@gmail.com</li>

    </ul>

</div> -->

<div class="minhaContainer">
    <div class="teste" style="width: 18rem;">
        <img src="../../assets/marcos.jpg" class="card-img-top" alt="BOlsonasdiowehfiuewfgheurslafearjg">
        <div class="">
            <h5 class="">Marcos Vinicios</h5>
            <p class="">Contato</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="">GitHub: Vinicius Medeiros</li>
            <li class="">Email: marcosvinicius0753@gmail.com</li>
    
        </ul>
    </div>
    
    
    <div class="teste" style="width: 18rem;">
        <img src="../../assets/lucas.jpg" class="card-img-top" alt="">
        <div class="">
            <h5 class="">Lucas Silva</h5>
            <p class="">Contato</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="">GitHub: Lucas Silva</li>
            <li class="">Email: lucasilvalima05@gmail.com</li>
    
        </ul>
    </div>
    
    <div class="teste" style="width: 18rem;">
        <img src="../../assets/gabirel.jpg" class="card-img-top" alt="">
        <div class="">
            <h5 class="">Gabriel Miranda</h5>
            <p class="">Contato</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="">GitHub: Geladeiratuzudo</li>
            <li class="">Email: mirandacorreagabriel@gmail.com</li>
    
        </ul>
    
    </div>
</div>